body {
    background-image: url(Fond_Ath%C3%A8nes.png);
    background-size: 380vh auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    font-family: 'Cutive Mono', monospace;
    overflow-x: hidden
}

header {
    color: black;
    font-family: 'Cutive Mono', monospace;
    padding: 40px;
    padding-left: 100px;
    height 100px;

}

p {
    font-size: 6vh;
    text-align: center;
    line-height: 1vh;
}

.bibli {
    position: absolute;
    top: 20vh;
    /* poussé de la moitié de hauteur de viewport */
    width: 100%;

    font-size: 2.5vh;
    padding-left: 12%;
}

.bibli p {
    font-size: 2vh;
    background-color: rgba(203, 203, 203, 0.55);
    line-height: 3vh;
    text-align: left;
}

.bibli a {
    font-size: 2vh;
    text-align: left;

}

.bibli t {
    font-size: 3vh;
    padding-left: 35%;
    padding-right: 35%;

}

a {
    text-decoration: none;
    color: black;
}


t {
    font-size: 2.5vh;
    text-align: center;
}
